// Open Montserrat

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  background: #222;
  color: white;
  font-family: "Montserrat";
}

.hidden {
  display: none !important;
}

* {
  scroll-behavior: smooth;
}

.landing-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url(../landing-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: red;
}

.landing-laptop {
  position: absolute;
  height: 84%;
  // width: 50%;
  bottom: 2%;
  right: 10%;
  // max-height: 70vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 45px 70px;
}

.option {
  text-align: center;
  margin-right: 71px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

.mango-option {
  margin-right: 150px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.home-option {
  border-bottom: 3px #f8b133 solid;
}

.option:hover {
  color: #f8b133;
}

.main-landing {
  width: 75%;
  margin-left: 25%;
  min-height: calc(100vh - 200px);
}

.main-landing-center {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.main-logo {
  // margin-left: auto;
  // margin-right: auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 5px;
  // max-height: 80vh;
}

.landing-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.landing-subtitle {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.landing-subtitle-under {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  margin-top: 7px;
  font-weight: 500;
  font-size: 9px;
  line-height: 19px;
  /* identical to box height, or 211% */
  color: #7b7b7b;
}
.landing-button-add {
  // background-color: #f9bb37;

  border: 2px solid #f8b133;
  box-sizing: border-box;
  border-radius: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height, or 158% */
  padding: 8px 45px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;

  color: #ffffff;
  cursor: pointer;

  transition: 0.3s all ease-out 0s;
  &:active {
    transform: scale(0.95);
    transition: 0.1s transform ease-in-out 0s;
  }
}

@media only screen and (max-width: 1300px) {
  .landing-laptop {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .landing-laptop {
    display: none;
  }

  .main-landing {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-landing-center {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .option {
    margin-right: 20px;
  }

  .main-landing-center {
    width: 100%;
  }

  .option {
    display: none;
  }

  .mango-option {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #111111;
  background-image: url(../aboutus-bg.svg);
  background-repeat: no-repeat;
  background-position: 50% 90%;
  // background-size: cover;

  // min-height: calc(100vh - 200px);
}

.yellow-line {
  border: 4px #f8b133 solid;
  border-radius: 4.5px;
  width: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us-title {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 38px;
  /* identical to box height, or 115% */
  text-align: center;
  color: #ffffff;
  width: 30%;
}

.about-us-subtitle {
  margin-bottom: 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* or 158% */
  text-align: center;
  color: #7b7b7b;
  width: 40%;
}

.about-us-center-message {
  margin-bottom: 250px;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 38px;
  /* identical to box height, or 115% */
  text-align: center;
  color: #f8b133;
  width: 30%;
}

@media only screen and (max-width: 1300px) {
  .about-us-title {
    width: 80%;
  }

  .about-us-subtitle {
    width: 90%;
  }

  .about-us-center-message {
    width: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  .landing-laptop {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .main-about-us {
    background-image: none;
  }
}

.features-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #111111;
  background-image: url(../features-bg.svg);
  background-repeat: no-repeat;
  // background-position: 50% 90%;
  background-size: cover;

  // min-height: calc(100vh - 200px);
}

.features-title {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 38px;
  /* identical to box height, or 115% */
  text-align: center;
  color: #ffffff;
  width: 30%;
}

.features-subtitle {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* or 158% */
  text-align: center;
  color: #7b7b7b;
  width: 40%;
}

.yellow-line-card {
  border: 2px #f8b133 solid;
  border-radius: 4.5px;
  width: 40%;
  margin-bottom: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 5%;
  row-gap: 75px;
  width: 50%;
  margin-bottom: 280px;
}

.features-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 40px;
  position: relative;
  background: #222222;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  transition: 0.2s all ease-out 0s;
}

.features-card:hover {
  transform: scale(1.1, 1.1) !important;
  // background: #383737a9;
  box-sizing: border-box;
}

.features-card-icon {
  height: 90px;
  margin-bottom: 25px;
  padding: 10px;
}

.features-card-icon3 {
  height: 80px;
  padding: 15px 10px;
}

.features-card-icon6 {
  height: 55px;
  padding: 28px 10px;
}
.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 38px;
  /* or 200% */
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.card-description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  /* or 158% */
  text-align: center;
  color: #7b7b7b;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
  .features-title {
    width: 80%;
  }

  .features-subtitle {
    width: 90%;
  }
}

@media only screen and (max-width: 1300px) {
  .features-grid {
    grid-template-columns: 40% 40%;
    width: 65%;
  }
}

@media only screen and (max-width: 1100px) {
  .features-grid {
    grid-template-columns: 45% 45%;
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .features-grid {
    grid-template-columns: 100%;
    width: 90%;
  }
}

.faq-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #111111;
  background-image: url(../faq-bg.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;

  // min-height: calc(100vh - 200px);
  padding-bottom: 150px;
}

.faq-title {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 38px;
  /* identical to box height, or 115% */
  text-align: center;
  color: #ffffff;
  width: 30%;
}

.faq-card {
  // border: 1px solid rgba(255, 255, 255, 0.2);

  background: #222222;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  border-radius: 7px;

  // border: 1px solid #8f34e9;
  box-sizing: border-box;
  // border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
  cursor: pointer;
  transition: 0.2s all ease-out 0s;
}

.faq-answer-wrapper {
  transition: 1s all linear 0s;
}

.faq-card:hover {
  background: rgba(172, 113, 13, 0.7);
  // border: 1px solid rgba(172, 113, 13, 0.7);

  .faq-question {
    color: #ffffff;
  }

  .faq-question::after {
    border-color: white;
  }
}

.faq-question {
  // color: white;
  font-weight: 500;
  font-size: 18px;

  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.faq-question::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  // border-color: #8f34e9;
  color: #ffffff;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  margin-left: auto;
  margin-top: 5px;
  transition: 0.3s transform ease 0s;
}

.faq-question.active::after {
  transform: rotate(225deg);
  border-color: white;
}

.faq-answer-wrapper {
  max-height: 0;
  // background: #8f34e9;
  background: rgba(172, 113, 13, 0.7);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.faq-answer {
  opacity: 0;
  transition: 0.1s all ease 0s;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  color: white;
  font-size: 16px;
}
.faq-answer-b {
  // opacity: 0;
  transition: 0.1s all ease 0s;

  font-weight: bold;
  color: white;
  font-size: 16px;
}

.faq-link {
  // opacity: 0;

  color: white;
}

.faq-answer-wrapper.active .faq-answer {
  opacity: 1;
}

.faq-question.active {
  // background: #5b77d7;
  color: #ffffff;
  background: rgba(172, 113, 13, 0.7);

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: max-height 0.3s ease-out;
}

@media only screen and (max-width: 900px) {
  .faq-card {
    width: 90%;
  }

  .faq-title {
    margin-bottom: 20px;

    width: 80%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  // margin-bottom: 20px;
  padding: 15px 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background: #222222;
}

.footer-left {
  margin-left: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-logo {
  height: 70px;
}

.footer-name {
  margin-left: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: #ffffff;
}

.footer-center {
  margin-left: 15px;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}

.footer-link {
  margin-left: 15px;
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  color: #ffffff;
}

.footer-right {
  margin-right: 10%;
  align-items: center;
}
.footer-ico {
  margin-left: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .footer-name {
    display: none;
  }

  .footer-center {
    margin-left: 0px;
    font-size: 10px;
  }

  .footer-right {
    margin-right: 0;
  }
  .footer-ico {
    margin-left: 3px;
  }
}

.terms {
  padding: 25px 10vw;
}

.refund {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: inline-block;
  color: #fc951d;
}
.terms-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: auto;
  text-align: right;
}
.terms h1 {
  font-weight: bold;
  font-size: 33px;
  line-height: 38px;
  /* identical to box height, or 115% */
  color: #fc951d;
}

.terms h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  /* or 190% */
  color: #fc951d;
}

.terms p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.terms span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

// Popup
.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .popup {
    display: flex;
    flex-direction: row;

    z-index: 4;
    background: linear-gradient(153.66deg, #2d2e2e 11.76%, #030303 135.32%);
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.5);
    border-radius: 22px 31px 31px 31px;
    animation: grow 0.3s ease-out;

    @keyframes grow {
      0% {
        transform: scale(0.2);
      }
      100% {
        transform: scale(1);
      }
    }

    .popup-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 7%;
      padding-left: 55px;
      padding-right: 55px;
      border-right: 2px solid #fc951d;
      background: linear-gradient(154.33deg, #262525 10.45%, #d8d8d8 132.61%);
      border-radius: 22px 0px 0px 31px;

      .popup-logo {
        width: 190px;
      }

      .popup-header {
        font-weight: bold;
        font-size: 20px;
        color: white;
        margin-bottom: 5px;
        margin-top: 20px;
      }

      .popup-subheader {
        color: white;
        font-weight: 300;
        font-size: 18px;
      }
    }

    .popup-right {
      display: flex;
      flex-direction: column;
      width: 30vw;
      padding: 30px 50px;
      padding-left: 0;
    }

    .popup-text-field {
      border: 1px solid #454545;
      box-sizing: border-box;
      border-radius: 7px;
      width: 100%;
      background: none;
      outline: none;
      padding: 10px 5px;
      color: white;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    // Don't remove this
    .popup-text-field[placeholder="Street"] {
      opacity: 0;
      height: 1px;
      margin: 0;
      padding: 0;
    }

    .special-options-row {
      margin-top: 10px;

      .special-option {
        border: 2px solid white;
        border-radius: 7px;
        padding: 7px 15px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        user-select: none;
        transition: 0.2s all ease 0s;
      }

      .selected {
        background: white;
        color: black;
      }
    }

    .secondary-options-row {
      margin-top: 30px;
      display: none;

      .secondary-option {
        border: 2px solid white;
        border-radius: 7px;
        padding: 7px 15px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin-right: 20px;
        cursor: pointer;
        user-select: none;
        transition: 0.2s all ease 0s;
      }

      .selected {
        background: white;
        color: black;
      }
    }

    .business-name {
      display: none;
      margin-top: 20px;
    }

    .business-vat {
      display: none;
      margin-top: 20px;
    }

    .form-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .popup-text-field {
        width: 30%;
      }
    }
    .popup-submit {
      background: #ffffff;
      border-radius: 7px;
      color: black;
      border: none;
      outline: none;
      padding: 8px 0;
      margin-bottom: 15px;
      cursor: pointer;
      margin-top: 20px;
    }

    .popup-terms {
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      color: white;
    }

    @media only screen and (max-width: 1100px) {
      .popup-left {
        display: none;
      }

      .popup-right {
        width: 90vw;
        box-sizing: border-box;
        padding: 50px 30px;
      }
    }
  }
}
